.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  border: none !important;
  background: transparent !important;
  color: white;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-content-background {
  background: #000;

}

.site-layout .site-layout-header-background, .ant-layout-has-sider .sider-menu, .ant-menu-item, .ant-menu-item, .ant-menu-dark, .bg-primary, .ant-layout-sider-children {
  background: #004E48;
}


.swap-icon {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.primary-custom {
  background: linear-gradient(#000, #2B2B2B);
  border-color: #00FFC2;
  border-width: 2px;
}

.ant-menu-dark {
  background: #004E48 !important;
}

.logo2-1{
  margin-left: 20%;
}

.exchange{
  background: linear-gradient(180deg, #004E48 0%, #008177 100%);
  margin: auto;
  /* margin-top: 10%; */
  /* padding: 5%; */
  width: 30%;
  border-radius: 30px;

  /* height: 100vh; */
  /* margin: 70% 0;
              padding: 10%;
              background-color: #244f57;
              border: 2px solid white;
              opacity: 0.9;
              -webkit-box-shadow: 0 10px 6px -6px #777;
              -moz-box-shadow: 0 10px 6px -6px #777;
              box-shadow: 0 10px 6px -6px #777;
              border-radius: 25px; */
  /* position: absolute;
width: 883px;

left: 518px;
top: 338px;

background: linear-gradient(180deg, #004E48 0%, #008177 100%);
border-radius: 89px; */
}
.form-input{
  width: 100%;
  border-radius: 50px;
}
.ant-input-group > .ant-input:first-child, .ant-input-group-addon:first-child{
  border-radius: 10px;
}

